html {
  scroll-behavior: smooth;
}
body {
  background-color: #cccccc;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  text-align: center !important;
}
h1,
h2,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.2;
  font-weight: 900;
}
h3 {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 2rem;
  font-weight: 1000 !important;
}

p {
  font-family: "Montserrat-Black", sans-serif !important;
  color: #494949;
}

/* sections */
.colored-section {
  /* background-color: #030e1f !important; */
  background-color: #204051 !important;
  color: #cae8d5;
}

.colored-section-2 {
  background-color: #427e92;
}

.white-section {
  background-color: #cae8d5;
}

.container-fluid {
  padding: 3% 15%;
}

/* navbar */
.navbar {
  justify-content: flex-end;
  width: 100%;
  padding: 0 0 4.5rem;
}
/* .navbar-brand {
  font-family: "Ubuntu", sans-serif;
  color: #cae8d5 !important;
  font-weight: 900;
  font-size: 1.5rem !important;
  margin-left: 5% !important;
} */
.navbar.bg-light {
  background-color: #204051 !important;
}
.navbar-brand {
  width: 3%;
  height: auto;
  margin-left: 5% !important;
}
.navbar-logo {
  height: 80% !important;
  border-radius: 50%;
  width: 350% !important;
  height: auto !important;
  margin-right: 3%;
}

.navbar-logo:hover {
  cursor: default !important;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  color: #e1f3e8 !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  margin: 0 5px !important;
}
.nav-link:hover {
  color: #84a9ac !important;
  font-size: 1.21rem !important;
}
.nav-item .dropdown-menu {
  background-color: #427e92;
  border-radius: 1%;
  font-size: 0.9rem;
}
.dropdown-menu .dropdown-item {
  color: #e1f3e8 !important;
}
.dropdown-menu .dropdown-item:hover {
  color: #204051 !important;
}
.dropdown-menu hr {
  background-color: #e1f3e8 !important;
}
.navbar-nav {
  margin-left: 6% !important;
  display: flexbox;
  justify-content: space-evenly !important;
}
.nav-search {
  margin-left: 2vw !important;
  width: 35vw !important;
}
.btn-search {
  margin-left: 2% !important;
}
.btn-accounts {
  margin-left: 4% !important;
}
.btn-nav {
  margin-left: 0.5vw !important;
}

/* carousel */
.carousel {
  margin: 2% 0%;
  padding-right: 5% !important;
  padding-left: 5% !important;
  overflow: hidden;
  width: 100% !important;
}
.carousel-inner {
  position: relative;
  width: 100% !important;
  overflow: hidden;
}
#title-section .carousel-control-prev {
  margin-top: 20%;
  height: 10vh;
  width: 4.5% !important;
  background: black !important;
  color: white !important;
}

#title-section .carousel-control-next {
  margin-top: 20%;
  height: 10vh;
  width: 4.5% !important;
  background: black !important;
  color: white !important;
}
/* features */
#features {
  position: relative;
  padding: 7% 15%;
  align-items: center;
}
.feature-text {
  font-family: "Ubuntu", sans-serif !important;
}
.features-title {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 1.5rem;
  font-weight: 1000 !important;
}

.icon {
  color: #427e92;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #204051;
}

/* Schools */
.cards {
  align-items: center !important;
  border-radius: 0%;
  padding: 0%;
  overflow: hidden;
  color: #427e92;
}
.wrapper {
  width: 100%;
  margin: 2% auto;
  max-width: 80rem;
  height: auto;
  text-align: center;
}
.row {
  margin-top: 2%;
  display: flexbox;
  justify-content: space-evenly;
}
.cols {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.card {
  box-shadow: #204051 3px 4px 5px;
}

.card .btn {
  margin-bottom: 3%;
}
/* Uniforms */
#uniforms .card {
  background-color: #b4b3ad !important;
  color: rgb(48, 47, 47) !important;
}

#uniforms img {
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
}
#uniforms hr {
  border-top: 1px solid #eee !important;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* All schools btn */
.btn-all-schools {
  margin: 2%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500 !important;
  font-size: 20px !important;
  text-decoration: none;
  position: relative;
  margin-bottom: 2%;
}

.btn-all-schools:hover {
  font-size: 21px !important;
  background-color: #ddd;
  text-decoration: none;
  color: #1a1a1a;
}

.btn-next {
  box-shadow: #204051 3px 4px 5px;
  background-image: linear-gradient(to bottom, #193341, #325e6d);
  color: #eee !important;
  font-weight: 900 !important;
}

/* moving headings */
.loading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 20vw;
  text-align: center;
  line-height: 60px;
  font-size: 1.7rem;
  position: relative;
  left: 5vw;
  right: 0;
  top: 3vh;
  margin-top: 1vh;
  margin-bottom: 6vh;
  transform: translateY(-50%);
}

.loading span {
  position: relative;
  z-index: 999;
  color: rgb(12, 12, 12);
}

.loading:before {
  content: "";
  background: #b3def1;
  width: 190px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: 2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0% {
    transform: translateX(-14px);
  }

  50% {
    transform: translateX(14px);
  }

  100% {
    transform: translateX(-14px);
  }
}

.loading:after {
  content: "";
  background: #ffda36;
  width: 14px;
  height: 65px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.9;
  animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0% {
    transform: translateX(-70px);
  }

  50% {
    transform: translateX(70px);
  }

  100% {
    transform: translateX(-70px);
  }
}

/* Reviews */
#reviews {
  padding: 3%;
}
.testimonial-text {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 2rem;
}

.testimonial-img {
  margin-top: 3% !important;
  border-radius: 100%;
  width: 8%;
  margin: 10px !important;
}

/* Footer section */

.footer-section {
  width: 96%;
  overflow: hidden;
  position: relative;
  margin-right: 2vw !important;
  margin-left: 2vw;
  margin-bottom: 4vh !important;
}
.icon-footer {
  color: #fff6a9;
}
.icon-footer :hover {
  color: chocolate !important;
}
.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 1.525rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 20px 0 0;
}

.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #427e92;
}

.center {
  margin-left: 50px;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  .list {
    margin: 10px;
  }

  .logo {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
  }

  .list-links {
    font-size: 4vw;
    font-weight: 300;

    padding: 20px 20px;
    text-decoration: none;
  }

  .main-content .box {
    flex-basis: 50%;
    padding: 4px 8px;
  }

  .box h2 {
    font-size: 0.8rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  .box .content {
    margin: 3px 3px 0 0;
  }

  .left .content p {
    text-align: justify;
    font-size: 8px;
  }
  .left .content .social {
    margin: 4px 0 0 0;
  }

  .left .content .social a {
    padding: 0 2px;
  }

  .left .content .social a span {
    height: 30px;
    width: 30px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    border-radius: 3px;
    transition: 0.3s;
  }

  .left .content .social a span:hover {
    background: #427e92;
  }
}
