/* product display and sidebar */
.main-content{
    margin: 2%;
    align-items: center !important;
}
.main-content .card {
    padding: 2% !important;
    background-color: rgb(212, 226, 250) !important;
}
.card-sidebar{
    margin: 0% 4% 5% 1%;
}
/* product-details page */
.product-img , .product-details{
    margin: 2% auto;
    
}

.card-main {
    margin: 2%;
    padding: 1% !important;
    display: flex;
    justify-content: space-evenly;
}