html {
  scroll-behavior: smooth;
}
body {
  background-color: #cccccc;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}
h1,
h2,
h4 {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.2;
  font-weight: 900;
}
h3,
h6 {
  font-family: "Montserrat-Black", sans-serif !important;

  font-size: 1rem !important;
  font-weight: 600 !important;
}
h5 {
  font-family: "Ubuntu", sans-serif !important;

  font-size: 1.3rem !important;
  text-transform: uppercase;
  font-weight: 1000 !important;
}
p {
  font-family: "Montserrat-Black", sans-serif !important;
  color: #313131;
}

/* navbar */
.navbar {
  justify-content: flex-end;
  width: 100%;
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  color: #cae8d5 !important;
  font-weight: 900;
  font-size: 1.5rem !important;
  margin-left: 5% !important;
}
.navbar.bg-light {
  background-color: #204051 !important;
}
/* .navbar-brand {
  width: 3%;
  height: auto;
  margin-left: 5% !important;
} */
.navbar-logo {
  height: 80% !important;
  border-radius: 50%;
  width: 350% !important;
  height: auto !important;
  margin-right: 3%;
}

.navbar-logo:hover {
  cursor: default !important;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  color: #e1f3e8 !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  margin: 0 5px !important;
}
.nav-link:hover {
  color: #84a9ac !important;
  font-size: 1.21rem !important;
}
.nav-item .dropdown-menu {
  background-color: #427e92;
  border-radius: 1%;
  font-size: 0.9rem;
}
.dropdown-menu .dropdown-item {
  color: #e1f3e8 !important;
}
.dropdown-menu .dropdown-item:hover {
  color: #204051 !important;
}
.dropdown-menu hr {
  background-color: #e1f3e8 !important;
}
.navbar-nav {
  margin-left: 6% !important;
  display: flexbox;
  justify-content: space-evenly !important;
}
.nav-search {
  margin-left: 2vw !important;
  width: 35vw !important;
}
.btn-search {
  margin-left: 2% !important;
}
.btn-accounts {
  margin-left: 4% !important;
}
.btn-nav {
  margin-left: 0.5vw !important;
}
.product-img-grid {
  height: 18vw !important;
}
/* product display and sidebar */
.main-content {
  margin: 2%;
  align-items: center !important;
}
.main-content .card {
  padding: 2% !important;
  background-color: #e0f3e7 !important;
}
.card-sidebar {
  margin: 0% 4% 5% 1%;
}
.product-img-grid {
  height: 18vw !important;
}
/* product-details page */
.product-img,
.product-details {
  margin: 2% auto;
}

.card-main {
  margin: 2%;
  padding: 1% !important;
  display: flex;
  justify-content: space-evenly;
}
/* moving headings */
.loading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 20vw;
  text-align: center;
  line-height: 60px;
  font-size: 1.7rem;
  position: relative;
  left: 5vw;
  right: 0;
  top: 2vh;
  margin-top: 1vh;
  margin-bottom: 4vh;
  transform: translateY(-50%);
}

.loading span {
  position: relative;
  z-index: 999;
  color: rgb(12, 12, 12);
}

.loading:before {
  content: "";
  background: #b3def1;
  width: 190px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: 2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0% {
    transform: translateX(-14px);
  }

  50% {
    transform: translateX(14px);
  }

  100% {
    transform: translateX(-14px);
  }
}

.loading:after {
  content: "";
  background: #ffda36;
  width: 14px;
  height: 65px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.9;
  animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0% {
    transform: translateX(-70px);
  }

  50% {
    transform: translateX(70px);
  }

  100% {
    transform: translateX(-70px);
  }
}
/* rating  */
.rate {
  float: left !important;
  height: 46px;
  /* padding: 0 50px; */
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: rgb(185, 184, 184);
}
.rate:not(:checked) > label:before {
  content: "★ ";
  /* content: "\2606"; */
}

.rate > input:checked ~ label {
  content: "★ " !important;
  color: #f7ca28;
  /* color: #204051; */
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  /* color: #deb217; */
  color: #ffc700;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  /* color: #c59b08; */
  color: #e0b310;
}

/* Reviews */
.carousel {
  margin: 2% 0%;
  padding-right: 5% !important;
  padding-left: 5% !important;
  overflow: hidden;
  width: 100% !important;
  align-items: center !important;
  text-align: center !important;
}
.carousel-inner {
  position: relative;
  width: 100% !important;
  overflow: hidden;
}
.colored-section {
  background-color: #204051 !important;
  color: #cae8d5;
}

#reviews {
  padding: 3%;
}
.testimonial-text {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 2rem;
}

.testimonial-img {
  margin-top: 3% !important;
  border-radius: 100%;
  width: 8%;
  margin: 10px !important;
}
.review-box {
  background-color: #427e92;
  align-items: center !important;
  text-align: center !important;
  padding: 2%;
}
.review-box .label {
  color: #e1f3e8 !important;

  font-family: "Ubuntu", sans-serif !important;
  font-size: 1.5rem;
}
.review-box #review {
  padding: 1%;
  text-align: center !important;
  color: #929292;
  height: 4vw !important;
  width: 30vw;
  box-shadow: #204051 2px 4px 3px;
}
.review-box #review:hover {
  height: 4.2vw !important;
  width: 30.2vw;
  box-shadow: #204051 3px 5px 4px;
}
/* Footer section */

.footer-section {
  width: 96%;
  overflow: hidden;
  position: relative;
  margin-right: 2vw !important;
  margin-left: 2vw;
  margin-bottom: 4vh !important;
  background-color: #cae8d5 !important;
}
.icon-footer {
  color: chocolate;
}
.icon-footer :hover {
  color: #fff6a9 !important;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 1.525rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 20px 0 0;
}

.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #427e92;
}

.center {
  margin-left: 5px;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  .list {
    margin: 10px;
  }

  .logo {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
  }

  .list-links {
    font-size: 4vw;
    font-weight: 300;

    padding: 20px 20px;
    text-decoration: none;
  }

  .main-content .box {
    flex-basis: 50%;
    padding: 4px 8px;
  }

  .box h2 {
    font-size: 0.8rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  .box .content {
    margin: 3px 3px 0 0;
  }

  .left .content p {
    text-align: justify;
    font-size: 8px;
  }
  .left .content .social {
    margin: 4px 0 0 0;
  }

  .left .content .social a {
    padding: 0 2px;
  }

  .left .content .social a span {
    height: 30px;
    width: 30px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    border-radius: 3px;
    transition: 0.3s;
  }

  .left .content .social a span:hover {
    background: #427e92;
  }
}
